.stageView {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 14px;
	overflow: hidden;
}

.participants {
	flex: 1;
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.participants:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.outer {
	color: #1f1f1f;
	min-width: 200px;
	min-height: 130px;
	padding: 0 8px;
}

@media screen and (max-width: 420px) {
	.outer {
		min-width: 150px;
	}
}

.inner {
	height: 130px;
	border-radius: 3px;
	background-color: aliceblue;

	/* ! delete this */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
}

.stage {
	position: relative;
	background-color: aliceblue;
	flex: 4;
	border-radius: 3px;

	/* ! delete this */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
}

.stageControls {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: #0f0e0e;
	color: white;
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 2px 8px;
	border-radius: 6px;
}

.icon {
	display: flex;
	align-items: center;
	cursor: pointer;
}
